$color-black: #000000;
$color-white: #ffffff;
$color-primary: #34547a;
$color-grey: #727272;
$color-grey-light: #eeeff1;

$font-size: 16px;
$font-size-lg: 21px;
$font-size-sm: 13px;
$font-family: "Roboto", sans-serif;
$font-bold: 500;
$line-height: 1.64;
$letter-spacing: 0.1em;

$container-primary: 1110px;
$container-secondary: 540px;

$gap-lg: 2.5rem;
$gap-md: 1.25rem;
$gap-sm: 0.625rem;